@value makerGrey,makerGreen,makerWhite from '../../../common/color.css';

.headers {
  display: flex;
  flex-direction: column;
  background-color: makerGreen;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.img {
  width: 50px;
  height: 40px;
}

.title {
  margin: 5px 0;
  color: makerWhite;
}
