@value makerGreen, makerLightGrey from '../../common/color.css';
.editor {
  flex-basis: 50%;
  background-color: wheat;
  border-right: 2px solid makerLightGrey;
  padding: 0.5em 2em;
  overflow-y: scroll;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
