@value makerWhite,makerLightPink,makerGreen from '../../common/color.css';

.login {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
  align-items: center;
}

.list {
  width: 50%;
  list-style: none;

  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.item {
  margin-bottom: 0.5rem;
}

.button {
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerGreen;
  outline: 0;
}

.button:hover {
  background-color: makerLightPink;
}
