@value makerWhite from '../../common/color.css';

.login {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
  align-items: center;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.item {
  margin-bottom: 0.5rem;
}

.button {
  width: 100%;
  height: 2.5em;
}
