@value makerGrey,makerGreen,makerWhite from '../../../common/color.css';
@value mediaQuery from '../../../common/size.css';
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 30px;
  margin: 20px 0;
}

.menu {
  color: makerGreen;
  border: 1px makerGreen solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
