@value makerGrey,makerGreen,makerWhite from '../../../common/color.css';
@value mediaQuery from '../../../common/size.css';
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  margin: 20px 0;
}
