@value makerGrey,makerGreen,makerWhite from '../../../common/color.css';
@value mediaQuery from '../../../common/size.css';
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 30px;
  margin: 20px 0;
}

.menu {
  color: makerGreen;
  border: 3px makerGreen solid;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}
